<!DOCTYPE HTML>
<html>
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <div>{{book.title}} - {{book.author}}</div>
    <form method="post" action="/books/{{book.id}}">
        <input type="hidden" name="id" value="{{book.id}}">
        <input type="hidden" name="oldList" value="wantToRead">
        <select name="newList">
            <option disabled>Выберите статус</option>
            <option value="finished">Прочитал</option>
            <option value="isReading">Читаю</option>
            <option selected value="wantToRead">Хочу прочитать</option>
        </select>
        <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
        <input type="submit" value="Изменить">
    </form>
</body>
</html>