<html>
    <body>
        <div>
            <form method="post" action="/logout">
                <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
                <input type="submit" value="Выйти"/>
            </form>
            <span><a href="/user">Users list</a></span>
        </div>
        <div>
            <span><a href="/search">Поиск книг</a></span>
        </div>

        <div>Список книг</div>
        <form method="get" action="/main">
            <input type="text" name="title" placeholder="Поиск по названию">
            <input type="text" name="author" placeholder="Поиск по автору">
            <button type="submit">Найти</button>
        </form>

        <div>Прочитал</div>
        {{#read}}
            <div>
                <b>{{id}}</b>
                .
                <span>{{title}}</span>
                -
                <span>{{author}}</span>
                <form method="post" action="/main/{{id}}">
                    <input type="hidden" name="id" value="{{id}}">
                    <p><select size="3" multiple name="status">
                        <option disabled>Выберите статус</option>
                        <option value="readed">Прочитал</option>
                        <option value="read">Читаю</option>
                        <option value="want">Хочу прочитать</option>
                    </select></p>
                    <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
                    <p><input type="submit" value="Изменить"></p>
                </form>
            </div>
        {{/read}}
        <div>Читаю</div>
        {{#isReading}}
            <div>
                <b>{{id}}</b>
                .
                <span>{{title}}</span>
                -
                <span>{{author}}</span>
                <form method="post" action="/main/{{id}}">
                    <input type="hidden" name="id" value="{{id}}">
                    <p><select size="3" multiple name="status">
                        <option disabled>Выберите статус</option>
                        <option value="readed">Прочитал</option>
                        <option value="read">Читаю</option>
                        <option value="want">Хочу прочитать</option>
                    </select></p>
                    <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
                    <p><input type="submit" value="Изменить"></p>
                </form>
            </div>
        {{/isReading}}
        <div>Хочу прочитать</div>
        {{#wantsToRead}}
            <div>
                <b>{{id}}</b>
                .
                <span>{{title}}</span>
                -
                <span>{{author}}</span>
                <form method="post" action="/main/{{id}}">
                    <input type="hidden" name="id" value="{{id}}">
                    <p><select size="3" multiple name="status">
                        <option disabled>Выберите статус</option>
                        <option value="readed">Прочитал</option>
                        <option value="read">Читаю</option>
                        <option value="want">Хочу прочитать</option>
                    </select></p>
                    <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
                    <p><input type="submit" value="Изменить"></p>
                </form>
            </div>
        {{/wantsToRead}}
    </body>
</html>