<html>
    <body>
        <div>
            <form method="post" action="/logout">
                <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
                <input type="submit" value="Выйти"/>
            </form>
            <span><a href="/user">Users list</a></span>
        </div>
        <div>
            <span><a href="/search">Поиск книг</a></span>
        </div>

        <div>Список книг</div>
        <form method="get" action="/main">
            <input type="text" name="title" placeholder="Поиск по названию">
            <input type="text" name="author" placeholder="Поиск по автору">
            <button type="submit">Найти</button>
        </form>
        <div style="display: flex; justify-content: space-between">
            <div class="first">
                <div>Прочитал</div>
                {{#finished}}
                    <div style="border-bottom: 1px solid black;">
                        <span>{{title}}</span>
                        -
                        <span>{{author}}</span>
                        <form method="post" action="/main/{{id}}">
                            <input type="hidden" name="id" value="{{id}}">
                            <input type="hidden" name="oldList" value="finished">
                            <select name="newList">
                                <option disabled>Выберите статус</option>
                                <option selected value="finished">Прочитал</option>
                                <option value="isReading">Читаю</option>
                                <option value="wantToRead">Хочу прочитать</option>
                            </select>
                            <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
                            <input type="submit" value="Изменить">
                        </form>
                    </div>
                {{/finished}}
            </div>
            <div class="second">
                <div>Читаю</div>
                {{#isReading}}
                    <div style="border-bottom: 1px solid black;">
                        <span>{{title}}</span>
                        -
                        <span>{{author}}</span>
                        <form method="post" action="/main/{{id}}">
                            <input type="hidden" name="id" value="{{id}}">
                            <input type="hidden" name="oldList" value="isReading">
                            <select name="newList">
                                <option disabled>Выберите статус</option>
                                <option value="finished">Прочитал</option>
                                <option selected value="isReading">Читаю</option>
                                <option value="wantToRead">Хочу прочитать</option>
                            </select>
                            <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
                            <input type="submit" value="Изменить">
                        </form>
                    </div>
                {{/isReading}}
            </div>
            <div class="third">
                <div>Хочу прочитать</div>
                {{#wantToRead}}
                    <div style="border-bottom: 1px solid black;">
                        <span>{{title}}</span>
                        -
                        <span>{{author}}</span>
                        <form method="post" action="/main/{{id}}">
                            <input type="hidden" name="id" value="{{id}}">
                            <input type="hidden" name="oldList" value="wantToRead">
                            <select name="newList">
                                <option disabled>Выберите статус</option>
                                <option value="finished">Прочитал</option>
                                <option value="isReading">Читаю</option>
                                <option selected value="wantToRead">Хочу прочитать</option>
                            </select>
                            <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
                            <input type="submit" value="Изменить">
                        </form>
                    </div>
                {{/wantToRead}}
            </div>
        </div>
    </body>
</html>