<!DOCTYPE HTML>
<html>
    <head>
        <title>Getting Started: Serving Web Content</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <div>Список пользователей</div>
        <table>
            <thread>
            <tr>
                <th>Name</th>
                <th>Role</th>
                <th></th>
            </tr>
            </thread>
            <tbody>
            {{#users}}
                <tr>
                    <td>{{username}}</td>
                    <td>
                        {{roles}}
                    </td>
                    <td><a href="/user/{{id}}">edit</a></td>
                </tr>
            {{/users}}
            </tbody>
        </table>
    </body>
</html>