<!DOCTYPE HTML>
<html>
    <head>
        <title>Getting Started: Serving Web Content</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <div>User editor</div>
        <form action="/user" method="post">
            <input type="text" name="username" value="{{user.username}}"/>
            <!-- Сделать автозаполнение чекбоксов-->
            {{#roles}}
                <div>
                    <label><input type="checkbox" name="{{name}}">{{name}}</label>
                </div>
            {{/roles}}

            <input type="hidden" name="id" value="{{user.id}}">
            <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
            <button type="submit">Save</button>
        </form>
    </body>
</html>